layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane split_direction="vertical" size="70%" {
        pane {
            pane command="htop" size="30%"
            pane command="lazygit"
        }
        pane focus=true
    }
    pane split_direction="vertical" {
        pane
        pane
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
