[user]
    name = AjxLab
    email = abe12@mccc.jp
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = auto
[gui]
    encoding = utf-8
[receive]
    denyNonFastforwards = false
[core]
    quotepath = false
