"--------------------------------------------------------------"
"         base settings                                        "
"--------------------------------------------------------------"
set encoding=utf-8
scriptencoding utf-8
set fileencodings=utf-8,sjis,cp932,euc-jp

set shiftwidth=4
set tabstop=4
set softtabstop=0
set autoindent

set hlsearch
set incsearch
set ignorecase
set smartcase

set nobackup
set noswapfile

set splitright
set splitbelow

set ruler
set number
set cursorline
set scrolloff=3
set laststatus=2

set clipboard=unnamed

" その他の設定
set title
let &titleold = "Terminal"
set titlestring=%F
set mouse=a
set whichwrap=h,l
set hidden
set virtualedit=onemore
set ttimeoutlen=10
set gcr=a:blinkon0


"--------------------------------------------------------------"
"         key binds                                            "
"--------------------------------------------------------------"
" prefix
let mapleader="\<Space>"

" htkn -> hjkl
map h h
map t j
map k k
map n l

" undo / redo
nnoremap U <C-r>

" go / return to word
noremap W b

" scroll
nnoremap ok <C-u>
nnoremap ot <C-d>

" window
nnoremap <Leader>s :<C-u>split<CR>
nnoremap <Leader>v :<C-u>vsplit<CR>
noremap <UP> <C-w>k
noremap <Down> <C-w>j
noremap <Left> <C-w>h
noremap <Right> <C-w>l

" tab
nnoremap <Leader>tab :tabnew<CR>

" terminal
nnoremap <Leader>ter :vertical terminal<CR>

" move buffer
noremap <Tab> :bn<CR>
noremap <S-Tab> :bp<CR>

" copy / delete
nnoremap <Leader>yy :%y<CR>
nnoremap <Leader>dd :%d<CR>

" increment / decrement
nnoremap + <C-a>
nnoremap - <C-x>

" edge of line
nnoremap N $
vnoremap N $
nnoremap H 0
vnoremap H 0

" search
nnoremap /  /\v
nnoremap K N
nnoremap T n

" absorb type
command! -nargs=0 W :w
command! -nargs=0 Q :q

set easymotion
map <Leader>w <Plug>(easymotion-bd-w)
map <Leader>k <Plug>(easymotion-bd-f)
map <Leader>l <Plug>(easymotion-bd-jk)

" 同じタブグループ内での移動
nnoremap <Tab> :action NextTab<CR>
nnoremap <S-Tab> :action PreviousTab<CR>

" ファイル操作
nnoremap O :action SearchEverywhere<CR>
nnoremap F :action FindInPath<CR>

" リファクタリング
nnoremap B :action GotoDeclaration<CR>
nnoremap D :action GotoTypeDeclaration<CR>
nnoremap I :action GotoImplementation<CR>
nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>
nnoremap K :action QuickJavaDoc<CR>

" コメントアウト
map cc :action CommentByLineComment<CR>
map cb :action CommentByBlockComment<CR>

" テスト
" ファイル全体もテスト実行したいが、action が見当たらなかったので未設定。
nnoremap <Leader>tt :action RunClass<CR>

" デバッガ
nnoremap <Leader>b :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bq :action Debugger.RemoveAllBreakpoints<CR>
