(
    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('n'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('t'), modifiers: "")),
)
